<!--<div class="container-fluid home-page-gallery-section">
    <div class="slider-gallery-popups">
        <img src="{{myimage}}images/IMG_3013.jpg">
        <div class="cross-code">&#10005;</div>
    </div>
    <ul class="first wow slideInUp">
        <li *ngFor="let gallerydata of homegallery"><img src="{{dashboardurl}}{{gallerydata.images[0].url}}" /></li>
    </ul>
    <ul class="seconf wow slideInUp">
        <li *ngFor="let gallerydata1 of homegallery"><img src="{{dashboardurl}}{{gallerydata1.images[1].url}}" /></li>
    </ul>
    <ul class="third wow slideInUp">
        <li *ngFor="let gallerydata2 of homegallery"><img src="{{dashboardurl}}{{gallerydata2.images[2].url}}" /></li>
    </ul>
</div>
-->