<nav class="navbar navbar-header">
    <div class="container-fluid">
        <div class="container">
            <div class="row align-center">
                <app-logo class="col-sm-1"></app-logo>
                <app-navigations class="col-sm-8"></app-navigations>
                <app-search class="col-sm-3"></app-search>
            </div>
        </div>
    </div>
</nav>