<div class="container-fluid banners same-banner-heading" *ngFor="let directionpagedata of directionpages" style='background-image: url({{mydashboard}}{{directionpagedata.BannerImage[0].url}});'>
    <h2>{{directionpagedata.BannerTitle}}</h2>
</div>

<div class="container-fluid main">
    <div class="container">
        <div class="row">
            <div class="col-sm-6" *ngFor="let data of directionpagedata1;">
                <div class="box">
                    <h2>{{data.Title}}</h2>
                    <div class="dexription">
                        <p>{{data.Description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>