.main {
    padding: 70px 0px 0px;
}

.main .container .box {
    text-align: center;
    background: #f6f6f670;
    padding: 44px 40px;
    margin-bottom: 38px;
    box-shadow: 0px 0px 1px 1px #f6f6f6;
    border-radius: 3px;
}

.main .container h2 {
    font-family: Karantina-Bold;
    color: #333333;
    font-size: 46px;
    letter-spacing: 1px;
    margin-bottom: 14px;
}

.main .container:last-child {
    margin-bottom: 0px;
}