<div class="container-fluid home-third-section {{user.SelectStyle}}" id="parallax-2" *ngFor="let user of thirdata">
    <h3 class="main-heading home-page">OUR SPECIAL OFFERS</h3>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6 text same-text">
                <h2>{{user.title}}</h2>
                <p>{{user.description}}</p>
                <button><a href={{user.Url}}>{{user.button}}<img src="{{myimage}}arrows.png" /></a></button>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 images">
                <img src={{dashboardurl}}{{user.image[0].url}} alt="images">
            </div>
        </div>
    </div>
</div>

<div class="container-fluid home-page-gallery-section">
    <div class="slider-gallery-popups">
        <img src="{{myimage}}/IMG_3013.jpg">
        <div class="cross-code">&#10005;</div>
    </div>


    <!--<ul class="first wow slideInUp">
        <owl-carousel-o [options]="customOptions2" *ngFor="let gallerydata of homegallery">
            <ng-template carouselSlide><img src="{{dashboardurl}}{{gallerydata.images[0].url}}" /></ng-template>
        </owl-carousel-o>
    </ul>
-->
    <owl-carousel-o [options]="customOptions2" class="first-media wow slideInUp">
        <ng-template *ngFor="let gallerydata of fuldata" carouselSlide><img src="{{dashboardurl}}{{gallerydata.url}}" /></ng-template>
    </owl-carousel-o>

    <owl-carousel-o [options]="customOptions3" class="second-media wow slideInUp">
        <ng-template *ngFor="let gallerydata1 of fuldata2" carouselSlide><img src="{{dashboardurl}}{{gallerydata1.url}}" /></ng-template>
    </owl-carousel-o>

    <owl-carousel-o [options]="customOptions2" class="third-media wow slideInUp">
        <ng-template *ngFor="let gallerydata1 of fuldata3" carouselSlide><img src="{{dashboardurl}}{{gallerydata1.url}}" /></ng-template>
    </owl-carousel-o>

    <!--<ul class="seconf wow slideInUp">
        <li *ngFor="let gallerydata1 of homegallery"><img src="{{dashboardurl}}{{gallerydata1.images[1].url}}" /></li>
    </ul>-->

</div>

<!--
<div>Some tags before</div>
<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide>Slide 1</ng-template>  
  <ng-template carouselSlide>Slide 2</ng-template>  
  <ng-template carouselSlide>Slide 3</ng-template>  
</owl-carousel-o>
<div>Some tags after</div>-->