.home-third-section.Right .row {
    flex-direction: row-reverse;
}

.home-third-section .text {
    padding-right: 74px;
}

.home-third-section.Right .text {
    padding-left: 70px;
    padding-right: 0px;
}

.home-page-gallery-section {
    background: #809ea9b8;
    padding: 8px 7px;
    margin-top: 78px;
}

.slider-gallery-popups {
    text-align: center;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    bottom: 0px;
    z-index: 999999;
    justify-content: center;
    display: flex;
    height: 100%;
    background: rgba(000, 000, 000, 0.4);
    align-items: center;
    display: none;
}

.home-page-gallery-section ul {
    list-style: none;
    padding: 0px;
}

.home-page-gallery-section ul li img {
    box-shadow: 0px 0px 9px 1px #222526;
}

.home-page-gallery-section ul li img {
    transition: all 0.30s ease;
}

.home-page-gallery-section ul.third {
    padding-left: 20px;
}

.home-page-gallery-section ul:nth-of-type(3) {
    margin-top: -85px;
}

.home-page-gallery-section ul.first {
    margin-bottom: -63px;
    z-index: 99;
    padding-right: 20px;
}

.home-page-gallery-section li.slick-slide {
    padding: 12px 14px;
}

.home-page-gallery-section ul {
    list-style: none;
    padding: 0px;
}

.order-change {
    display: flex;
    flex-wrap: wrap;
}

.order-change .home-third-section:nth-of-type(1) {
    order: 1;
}

.order-change .home-third-section:nth-of-type(2) {
    order: 3;
    padding: 51px 0px;
}

.order-change .home-third-section:nth-of-type(3) {
    order: 4;
}

.order-change .home-page-gallery-section {
    order: 2;
}

.main-heading {
    font-family: Karantina-Bold;
    font-size: 40px;
    letter-spacing: 7px;
    color: #333333;
    text-align: center;
    margin: -13px 0px 45px;
    display: none;
}

.order-change .home-third-section:nth-of-type(2) h3.main-heading.home-page {
    display: block;
}


/*media slider code*/

.home-page-gallery-section .first-media img,
.home-page-gallery-section .third-media img {
    height: 301px;
    width: 100%;
}

.home-page-gallery-section .second-media img {
    height: 204px;
}

.home-page-gallery-section img {
    box-shadow: 0px 0px 9px 1px #222526;
}

.home-page-gallery-section .first-media .owl-carousel {
    margin-bottom: -84px;
    position: relative;
    z-index: 9;
}

.home-page-gallery-section .first-media {
    position: relative;
    z-index: 99999;
}

.home-page-gallery-section .first-media .owl-carousel img {
    margin-bottom: -24px;
    position: relative;
}

.home-page-gallery-section .third-media img {
    position: relative;
    margin-top: -61px;
}