<div class="container-fluid banners same-banner-heading" style="background-image: url('http://localhost:1337/uploads/3d_rendering_luxury_modern_bedroom_suite_tv_with_wardrobe_walk_closet_1_6eb77aecdd.jpg');">
    <h2>Contact Us</h2>
</div>


<div class="container-fluid contact-form-mainss">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 contact-us">
                <h2>Contact Us</h2>
                <ul *ngFor="let data of logospart">
                    <li><i class="fa fa-map-marker" aria-hidden="true"></i> {{data.Address}}</li>
                    <li>
                        <a href="tel:{{data.Telephone}}"><i class="fa fa-phone" aria-hidden="true"></i>
                             {{data.Telephone}}</a>
                        <a href="tel:{{data.Telephone2}}"><i class="fa fa-phone" aria-hidden="true"></i>
                             {{data.Telephone2}}</a>
                    </li>
                    <li><a href="mailto:{{data.Emailid}}"><i class="fa fa-envelope-o" aria-hidden="true"></i>
                         {{data.Emailid}}</a></li>
                </ul>
            </div>

            <form #userPost="ngForm" method="POST" class="contact-forms col-sm-6">
                <div class="row">
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <label for="name" class="">Your name</label>
                            <input type="text" ngModel name="fname" class="form-control" #name="ngModel" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <label for="email" class="">Your email</label>
                            <input type="email" ngModel name="email" class="form-control" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form mb-0">
                            <label for="subject" class="">Subject</label>
                            <input type="text" ngModel name="subject" class="form-control" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label for="message">Your message</label>
                        <div class="md-form">
                            <textarea type="text" ngModel name="message" rows="2" required class="form-control md-textarea"></textarea>
                        </div>
                    </div>
                </div>
                <div class="text-center text-md-left">
                    <button type="submit" (click)="contactSubmit(userPost.value)">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--<div class="text-center text-md-left">
    <button type="submit" (click)="contactSubmit(userPost.value)">Submit</button>
</div>-->