form.contact-forms label {
    display: block;
    text-transform: capitalize;
    color: #272727;
    font-size: 17px;
    font-family: bahnschrift;
    margin-bottom: 2px;
}

form.contact-forms input.form-control {
    border: solid #ccc 1px;
    border-radius: 0px;
    padding: 10px 12px;
    border-radius: 3px;
}

form.contact-forms .row {
    margin-bottom: 13px;
}

form.contact-forms button {
    background: #272727!important;
    color: #fff;
    width: 100%;
    padding: 13px 0px;
    margin-top: 12px;
}

textarea.form-control {
    height: 149px;
}

.contact-form-mainss {
    padding: 60px 0px 0px;
}

.contact-form-mainss h2 {
    letter-spacing: 1px;
    font-size: 47px;
    line-height: normal;
    margin-bottom: 17px;
    font-family: Karantina-Bold;
}

.contact-form-mainss ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.contact-form-mainss ul li {
    margin-bottom: 7px;
}

.contact-form-mainss ul li a,
.contact-form-mainss ul li {
    color: #000;
    font-weight: 600;
}

.contact-us i.fa {
    margin-right: 5px;
    font-size: 16px;
}

.contact-us li a {
    width: 100%;
    display: block;
    margin-top: 9px;
}