<div class="container-fluid banners same-banner-heading" *ngFor="let data of directionpages" style='background-image: url({{mydashboard}}{{data.image[0].url}});'>
    <h2>{{data.title}}</h2>
</div>

<div class="container-fluid main">
    <div class="container">
        <div class="row">
            <div class="col-sm-6" *ngFor="let data12 of directionpagedata1;">
                <div class="box">
                    <h2></h2>
                    <img src="{{mydashboard}}{{data12.url}}" />
                </div>
            </div>
        </div>
    </div>
</div>