<div class="container-fluid home-third-section {{data.SelectStyle}}" id="parallax-2" *ngFor="let data of suitesPost">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6 text same-text">
                <h2>{{data.Title}}</h2>
                <p>{{data.Description}}</p>
                <button><a href="#">{{data.Button}}<img src="{{myimage}}arrows.png" /></a></button>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 images">
                <img src="{{urldashboard}}{{data.Image[0].url}}" alt="images">
            </div>
        </div>
    </div>
</div>