.row {
    padding: 40px 0px;
}

.right-text {
    padding-left: 60px;
}

.left-text {
    padding-right: 70px;
}

.right .row {
    flex-direction: row-reverse;
}

.left .text {
    padding-right: 68px;
}

.right .text {
    padding-right: 0px;
    padding-left: 68px;
}