.nearby-desciption.main {
    padding: 60px 0px 0px;
}

.nearby-desciption.main .box-text {
    margin-bottom: 14px;
}

.nearby-desciption.main .box-text h3 a {
    font-family: bahnschrift;
    font-size: 18px;
    line-height: 25px;
    color: #000;
    display: block;
    margin-bottom: 17px;
    line-height: 28px;
}

.nearby-desciption.main h2:first-child {
    font-family: Karantina-Bold;
    color: #333333;
    font-size: 41px;
    letter-spacing: 1px;
    margin-bottom: 14px;
}

.descriprion-text.recent-posts .box {
    padding-left: 20px;
}