<div class="container-fluid banners same-banner-heading" *ngFor="let data of directionpages" style='background-image: url("{{mydashboard}}{{data.image[0].url}}");'>
    <h2>{{data.title}}</h2>
</div>

<div class="container-fluid nearby-desciption main">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="box-text" *ngFor="let data of directionpagedata1">
                    <h3>
                        <a href="{{data.url}}">{{data.smalltilte}}</a>
                    </h3>
                    <img src="{{mydashboard}}{{data.image[0].url}}" alt="images" />
                </div>
            </div>

            <div class="col-sm-4 descriprion-text recent-posts">
                <div class="box">
                    <h2>RECENT NEWS</h2>
                    <app-blogpage></app-blogpage>
                </div>
            </div>
        </div>
    </div>
</div>