/*Header css*/

nav.navbar.navbar-header a.navbar-brand img {
    width: 100%;
}

a.navbar-brand {
    height: auto;
}

.navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: bahnschrift;
    font-size: 15px;
    color: #272727;
    padding: 16px 14px;
    font-size: 16px;
    letter-spacing: 0px;
}

.navbar-header .sarech-parts ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar-header .sarech-parts ul li {
    padding-left: 15px;
    font-family: bahnschrift;
    font-size: 14px;
}

.navbar-header .sarech-parts ul li select {
    width: auto;
    border: none;
    padding: 0px;
    margin-top: -11px;
    position: relative;
    top: -4px;
    left: -4px;
}

nav.navbar.navbar-header .container .row {
    align-items: center;
    display: flex;
}

a.navbar-brand {
    padding: 0px;
}

nav.navbar.navbar-header .navigation-part {
    padding-left: 29px;
}

nav.navbar.navbar-header {
    width: 100%;
}

.navigation-part {
    padding-left: 14px;
}

button.toogle-parts {
    display: none;
}

.home-banner .images {
    padding-right: 0px;
}

.home-banner .images img {
    width: 100%;
}

.navbar-nav {
    flex-direction: inherit;
}

.col-sm-1.logo-part {
    padding: 0px;
}

ul.nav.navbar-nav li a {
    position: relative;
}

ul.nav.navbar-nav li>ul {
    position: absolute;
    width: 284px;
    list-style: none;
    margin-top: 2px;
    padding: 0px;
    margin-left: 15px;
    background: #000;
    color: #fff;
    z-index: 999999;
}

ul.nav.navbar-nav li>ul a {
    color: #fff;
    font-weight: 400;
    border-bottom: #fff dashed 1px;
    display: block;
    padding: 11px 20px;
}

ul.nav.navbar-nav li>ul {
    visibility: hidden;
    opacity: 0;
    margin-top: 30px!important;
    transition: all 0.30s ease;
}

ul.nav.navbar-nav li:hover>ul {
    visibility: visible;
    opacity: 1;
    margin-top: 0px!important;
    transition: all 0.30s ease;
}

ul.nav.navbar-nav li>ul li:last-child a {
    border-bottom: none;
}

ul.nav.navbar-nav li i.fa.fa-angle-down {
    position: relative;
    bottom: -2px;
    right: -5px;
    transition: all 0.30s ease;
    transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    color: #000;
    font-size: 19px;
}

ul.nav.navbar-nav li:hover i.fa.fa-angle-down {
    transform: rotate( -180deg);
    -moz-transform: rotate( -180deg);
    -webkit-transform: rotate( -180deg);
}


/*header css end*/