<button class="toogle-parts">
    <span></span>
    <span></span>
    <span></span>
</button>
<div class="navigation-part">
    <ul class="nav navbar-nav">
        <li class="active"><a routerLink="/">Home</a></li>
        <li><a routerLink="/Suitespage">Suits <i class="fa fa-angle-down" aria-hidden="true"></i></a>
            <ul>
                <li><a routerLink="/honeymoon-suite">Honeymoon Suite</a></li>
                <li><a routerLink="/superior-suite">Superior Suite</a></li>
            </ul>
        </li>
        <li><a routerLink="">Direction <i class="fa fa-angle-down" aria-hidden="true"></i></a>
            <ul>
                <li><a routerLink="/from-fiumicino-airport">From Fiumicino Airport</a></li>
                <li><a routerLink="/from-ciampino-airport">From Ciampino Airport</a></li>
                <li><a routerLink="/from-termini-train-station">From Termini Train Station</a></li>
                <li><a routerLink="/hotel-to-city-center">Hotel To City Center</a></li>
            </ul>
        </li>
        <li><a routerLink="/special-offers">Special Offers</a>

            <ul>
                <li><a routerLink="/romantic-weekend-package">Romantic Weekend Package</a></li>
                <li><a routerLink="/romantic-holiday-package">Romantic Holiday Package</a></li>

            </ul>
        </li>
        <li><a routerLink="/services">Services</a></li>
        <li><a routerLink="/near-by-page">Near By</a></li>
        <li><a routerLink="/gallery">Gallery</a></li>
        <li><a routerLink="/contact">Contact</a></li>
    </ul>
</div>