.main .box h2 {
    font-family: Karantina-Bold;
    color: #333333;
    font-size: 41px;
    letter-spacing: 1px;
    margin-bottom: 14px;
}

.blog-page .text h2 {
    font-size: 20px;
    word-break: break-all;
    font-weight: 300;
}

.recent-posts .text h2 {
    font-family: bahnschrift;
    font-size: 19px;
    line-height: 25px;
    font-weight: 500;
    margin-bottom: 9px;
}

.recent-posts .text span.time-post {
    font-family: bahnschrift;
    display: block;
    margin-bottom: 6px;
}

.recent-posts ul {
    list-style: none;
    padding: 0px;
}

.container-fluid.main {
    padding: 60px 0px 0px;
}

.container-fluid.main .col-sm-8 {
    padding-right: 40px;
}

.main .box {
    display: flex;
    flex-wrap: wrap;
}

.main .box .dexription {
    width: 100%;
    margin-bottom: 14px;
}

.main .box .images {
    width: 100%;
    margin-bottom: 28px;
}

.main .box .dexription h2 {
    font-size: 33px!important;
}