<div class="container-fluid banners same-banner-heading" *ngFor="let data of servicepage" style='background-image: url({{mydashboard}}{{data.image[0].url}});'>
    <h2>{{data.title}}</h2>
</div>

<div class="container-fluid main">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="box" *ngFor="let data of servicepagecobbbmponent;">
                    <div class="images">
                        <img src="{{mydashboard}}{{data.image[0].url}}" alt="images" />
                    </div>
                    <div class="dexription">
                        <h2>{{data.title}}</h2>
                        <p>{{data.description}}</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 recent-posts">
                <div class="box">
                    <h2>RECENT NEWS</h2>
                    <app-blogpage></app-blogpage>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<app-servicescomponent></app-servicescomponent>-->