/*footer css code start*/

footer .footer-logo img {
    width: auto;
}

footer .copy-right-parts {
    background: #333;
    color: #fff;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    padding: 12px 0px;
    font-family: bahnschrift;
    margin-top: 13px;
}

footer .copy-right-parts p {
    margin: 0px;
}

footer {
    padding: 76px 0px 0px;
}

footer .part-one ul li a,
footer .part-one ul li {
    font-size: 16px;
    font-weight: 400;
    padding: 3px 0px;
    list-style: none;
    font-family: bahnschrift;
    color: #333;
}

footer .part-one ul {
    padding: 0px;
}

footer .part-one h2 {
    font-size: 16px;
    letter-spacing: 0px;
    color: #333;
    font-weight: 600;
    margin-bottom: 21px;
    font-family: bahnschrift;
}

footer .part-one ul li a i.fa {
    background: #333;
    width: 25px;
    height: 25px;
    color: #fff;
    margin-right: 10px;
    text-align: center;
    line-height: 26px;
    border-radius: 4px;
}

footer .part-one .touch-with-us ul li a {
    padding-bottom: 7px;
    display: block;
    text-transform: capitalize;
}

footer .part-one .footer-logo {
    display: flex;
}

footer .part-one .footer-logo a {
    display: block;
    width: 100%;
}

footer .part-one .footer-logo a img {
    width: 100%;
}

footer .part-one .col.quick-links {
    padding-left: 52px;
}

footer .part-one ul {
    margin-bottom: 0px;
}

footer .part-one h2 {
    margin-bottom: 25px;
}

footer .part-one ul {
    margin-bottom: 0px;
}

footer .part-one ul li a {
    display: block;
}

footer .part-one ul li iframe {
    margin-top: 12px;
    padding: 0px 1px;
    box-shadow: 0px 0px 1px 1px #272727;
    border-radius: 2px;
}

footer .part-one .footer-logo {
    padding-right: 0px;
}

button.toogle-parts {
    display: none;
}

.same-text button a {
    display: flex;
    align-items: center;
}

.same-text button a img {
    width: auto!important;
}


/*footer css code end*/