<footer *ngFor="let data of logospart">
    <div class="container-fluid part-one">
        <div class="container">
            <div class="row">
                <div class="col col-xs-12 footer-logo">

                    <app-logo></app-logo>

                </div>

                <div class="col col-xs-12 quick-links">
                    <h2>Quick Links</h2>
                    <ul>
                        <li><a routerLink="/">Home</a></li>
                        <li><a routerLink="/Suitespage">Suits</a></li>
                        <li><a routerLink="/special-offers">Special Offers</a></li>
                        <li><a routerLink="/services">Servies</a></li>
                        <li><a routerLink="/near-by-page">Near By</a></li>
                    </ul>
                </div>

                <div class="col col-xs-12 touch-with-us">
                    <h2>Quick Links</h2>

                    <ul *ngFor="let sociallinks of socialslinkss">
                        <li><a href={{sociallinks.Facebook}}><i class="fa fa-facebook" aria-hidden="true"></i>facebook</a></li>
                        <li><a href="{{sociallinks.Instagram}}"><i class="fa fa-instagram" aria-hidden="true"></i>instagram</a></li>
                        <li><a href="{{sociallinks.Twitter}}"><i class="fa fa-twitter" aria-hidden="true"></i>twitter</a></li>
                        <li><a href="{{sociallinks.Yelp}}"><i class="fa fa-tripadvisor" aria-hidden="true"></i>tripadvisor</a></li>
                    </ul>
                </div>

                <div class="col col-xs-12 navigation">
                    <h2>Navigation</h2>
                    <ul>
                        <li><a routerLink="/Suitespage">Suites</a></li>
                        <li><a routerLink="/from-fiumicino-airport">From Fiumicino Airport</a></li>
                        <li><a routerLink="/from-ciampino-airport">From Ciampino Airport</a></li>
                        <li><a routerLink="/from-termini-train-station">From Termini Train Station</a></li>
                        <li><a routerLink="/hotel-to-city-center">Hotel to City center</a></li>
                        <li><a routerLink="/News">News</a></li>
                    </ul>
                </div>

                <div class="col col-xs-12 contact-us">
                    <h2>Contact Us</h2>

                    <ul>
                        <li>{{data.Address}}</li>
                        <li>
                            <a href="tel:{{data.Telephone}}">{{data.Telephone}}</a>
                            <a href="tel:{{data.Telephone2}}">{{data.Telephone2}}</a>
                        </li>
                        <li><a href="mailto:{{data.Emailid}}">{{data.Emailid}}</a></li>
                        <li><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2969.8975487112016!2d12.436939314944476!3d41.89506037233255!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x132f60756f8db6cd%3A0x62914700f56b0abd!2sVia%20Gregorio%20VII%2C%20407%2C%2000165%20Roma%20RM%2C%20Italy!5e0!3m2!1sen!2sin!4v1636544395076!5m2!1sen!2sin"
                                width="100%" height="120px" style="border:0;" allowfullscreen="" loading="lazy"></iframe></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid copy-right-parts">
        <p>{{data.CopyRightext}} <a href="ogrelogic.com"> Ogrelogic.</a></p>
    </div>



    <script src="../js/dist/wow.js"></script>
    <script>
        wow = new WOW({
            boxClass: 'wow', // default
            animateClass: 'animated', // default
            offset: 0, // default
            mobile: true, // default
            live: true // default
        })
        wow.init();
    </script>
</footer>