<div class="logo-part">
    <div class="navbar-header">
        <a class="navbar-brand" routerlink="/Home" *ngFor="let data of logospart">
            <img src={{mydashboard}}{{data.Logo[0].url}}>
        </a>
    </div>
</div>