<div class="container-fluid banners same-banner-heading" *ngFor="let data of directionpages" style="background-image: url('{{mydashboard}}{{data.image[0].url}}');">
    <h2>{{data.title}}</h2>
</div>

<div class="container-fluid card-romantic-same-style">
    <div class="container">
        <div class="row" *ngFor="let data of directionpagedata1">
            <div class="col-sm-12">
                <img src="{{mydashboard}}{{data.url}}" />
                <div class="gallery-parts">
                    <ul>
                        <li *ngFor="let data of gallerydata"><img src="{{mydashboard}}{{data.url}}" /></li>
                    </ul>
                </div>
                <div *ngFor="let data of honeymoonsuitetitle">
                    <h2>{{data.title}}</h2>
                    <p>{{data.description}}</p>
                </div>
            </div>
        </div>
    </div>
</div>