.container-fluid.blog-cards {
    padding: 65px 0px 0px;
}

.blog-cards h2 {
    letter-spacing: -1px;
    margin: 25px 0px 11px;
    color: #333333;
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
}

.blog-cards h4 {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.description-parts {
    background: #f6f6f6;
    padding: 6px 35px 20px;
    border-radius: 4px;
}