<div class="container-fluid banners same-banner-heading" *ngFor="let data of blogpages" style="background-image: url('{{mydashboard}}{{data.image[0].url}}');">
    <h2>{{data.title}}</h2>
</div>

<div class="container-fluid blog-cards">
    <div class="container">
        <div class="row">
            <div class="col-sm-6" *ngFor="let data of blogpagedata1">
                <img src="{{mydashboard}}{{data.image[0].url}}" />
                <div class="description-parts">
                    <h2>{{data.title}}</h2>
                    <h4>Date: {{data.selecttime}}</h4>
                    <p>{{data.description}}</p>
                </div>
            </div>
        </div>
    </div>
</div>