.right.row {
    flex-direction: row-reverse;
}

.right.row .text {
    padding-left: 50px;
}

.left.row .text {
    padding-right: 50px;
}

.home-third-section .row {
    margin-bottom: 76px;
}

.home-third-section .row:last-child {
    margin-bottom: 0px;
}

.home-third-section {
    padding: 75px 0px 0px;
}