<div class="container-fluid banners same-banner-heading" *ngFor="let data of specialofferspages" style='background-image: url("{{mydashboard}}{{data.banner[0].url}}");'>
    <h2>{{data.title}}</h2>
</div>

<div class="container-fluid home-third-section" id="parallax-2">
    <div class="container">
        <div class="row {{data.stylechanges}}" *ngFor="let data of specialofferspagedata1">
            <div class="col-sm-6 col-md-6 col-lg-6 text same-text">
                <h2>{{data.title}}</h2>
                <p>{{data.description}}</p>
                <button><a href="#">{{data.button}}<img src="{{myimage}}arrows.png" /></a></button>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 images">
                <img src="{{mydashboard}}{{data.image[0].url}}" alt="images">
            </div>
        </div>
    </div>
</div>