<div class="container-fluid banners same-banner-heading" *ngFor="let data of suitesdatapage" style='background-image: url({{mydashboard}}{{data.BannerImages[0].url}});'>
    <h2>{{data.SuitesBannerTitle}}</h2>
</div>