<div class="container-fluid banners same-banner-heading" *ngFor="let directionpagedata of directionpages" style='background-image: url({{mydashboard}}{{directionpagedata.BannerImage[0].url}});'>
    <h2>{{directionpagedata.BannerTitle}}</h2>
</div>
<app-content></app-content>