<div class="container-fluid home-banner home-slider-one">
    <div class="row">
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide style="display: flex;" *ngFor="let user of users">
                <div class="col-sm-5 text wow slideInUp">
                    <h2>{{user.title}}</h2>
                    <p>{{user.description}}</p>
                    <button><a href="#">{{user.button}}<img src="{{myimage}}arrows.png" /></a></button>
                </div>
                <div class="col-sm-7 images wowss slideInUpss parallax1" id="parallax-111">
                    <img src={{mydashboard}}{{user.image[0].url}} alt="images">
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>
</div>



<!--<div class="container sliders-start">
    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>Slide 1</ng-template>
        <ng-template carouselSlide>Slide 2</ng-template>
        <ng-template carouselSlide>Slide 3</ng-template>
        <ng-template carouselSlide>Slide 4</ng-template>
        <ng-template carouselSlide>Slide 5</ng-template>
        <ng-template carouselSlide>Slide 6</ng-template>
        <ng-template carouselSlide>Slide 7</ng-template>
        <ng-template carouselSlide>Slide 8</ng-template>
    </owl-carousel-o>
</div>-->