/*home banner css code*/

.container-fluid.home-banner .row {
    align-items: center;
    width: 1154px;
    margin-left: auto;
    margin-left: auto;
}

.home-banner .text h2 {
    font-family: Karantina-Bold;
    font-size: 100px;
    letter-spacing: 25px;
}

.home-banner .text h2 {
    text-transform: uppercase;
    font-size: 56px;
    font-family: Karantina-Bold;
    letter-spacing: 6px;
}

.container-fluid.home-banner .text p {
    color: #272727;
    font-size: 19px;
    font-family: bahnschrift;
    letter-spacing: 0px;
    margin-top: 20px;
}

.container-fluid.home-banner .text button {
    padding-left: 0px;
    margin-top: 10px;
}

.container-fluid.home-banner .text button a {
    color: #272727;
    font-size: 18px;
    font-family: bahnschrift;
    letter-spacing: 2px;
}

.container-fluid.home-banner .text button a img {
    margin-left: 23px;
}

.home-banner .images img {
    height: auto;
    object-fit: revert;
    transition: 1s ease;
}

.home-banner.home-slider-one .text {
    padding-left: 0px;
}


/* Feel free to change duration  */

.home-slider-one .owl-stage {
    transition: all 3s linear !important;
}