<div class="sarech-parts ">
    <ul>
        <li>
            <a routerlink="/"><img src="{{myimage}}Asset 6.png" alt="images"></a>
        </li>
        <li>
            <a routerlink="#"><img src="{{myimage}}search-icon.png" alt="images"></a>
        </li>
        <li>
            <a tel="tel:+39 3275342730"><img src="{{myimage}}flag.png" alt="images"></a>
        </li>
        <li>
            Cancellation <br>
            <select>
                <option>Policy</option>
                <option>Policy2</option>
                <option>Policy3</option>
            </select>
        </li>
    </ul>
</div>