.sarech-parts ul {
    justify-content: flex-end;
}

.sarech-parts ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.sarech-parts ul li {
    padding-left: 15px;
    font-family: bahnschrift;
    font-size: 14px;
}

.sarech-parts ul li select {
    width: auto;
    border: none;
    padding: 0px;
    margin-top: -11px;
    position: relative;
    top: -4px;
    left: -4px;
}