<div class="container-fluid banners same-banner-heading" *ngFor="let data of directionpages" style="background-image: url('{{mydashboard}}{{data.Banner[0].url}}');">
    <h2>{{data.Title}}</h2>
</div>

<div class="container-fluid card-romantic-same-style">
    <div class="container">
        <div class="row" *ngFor="let data of directionpagedata1">
            <div class="col-sm-12">
                <img src="{{mydashboard}}{{data.image[0].url}}" />
                <h2>{{data.titel}}</h2>
                <p>{{data.description}}</p>
            </div>
        </div>
    </div>
</div>