.main .box h2 {
    font-family: Karantina-Bold;
    color: #333333;
    font-size: 38px;
    letter-spacing: 1px;
    margin-bottom: 14px;
}

.blog-page .text h2 {
    font-size: 20px;
    word-break: break-all;
    font-weight: 300;
}