<ul>
    <li *ngFor="let data of blogpagedata1" style="cursor: pointer;">
        <div class="dcdcd" (click)='onClick(data.id)' routerLink="/single-post/:{{data.id}}">
            <div class=" text ">
                <h2>{{data.title}}</h2>
                <span class="time-post ">Date: {{data.selecttime}}</span>
                <p>{{data.description}}</p>
            </div>

            <div class="image ">
                <img src="{{mydashboard}}{{data.image[0].url}} " alt="images " />
            </div>
        </div>
        <!--<div class="dcdcd" (click)='onClick(data.id)' routerLink="/News">
            <div class=" text ">
                <h2>{{data.title}}</h2>
                <span class="time-post ">Date: {{data.selecttime}}</span>
                <p>{{data.description}}</p>
            </div>

            <div class="image ">
                <img src="{{mydashboard}}{{data.image[0].url}} " alt="images " />
            </div>
        </div>-->
    </li>
</ul>