/*global css start*/

a,
a:hover,
a:focus,
button,
button:hover,
button:focus,
select {
    outline: none;
    text-decoration: none;
}

nav.navbar.navbar-header .container .row {
    margin: 0px;
    justify-content: space-between;
}

img {
    width: 100%;
}

button img {
    width: auto;
}

.align-center {
    align-items: center;
}

.container {
    max-width: 1250px;
    width: 1250px;
    margin: 0 auto;
}

@font-face {
    font-family: Karantina-Bold;
    src: url(../src/Fonts/Karantina-Bold.ttf);
}

@font-face {
    font-family: Karantina-Light;
    src: url(../src/Fonts/Karantina-Light.ttf);
}

@font-face {
    font-family: Karantina-Regular;
    src: url(../src/Fonts/Karantina-Regular.ttf);
}

@font-face {
    font-family: bahnschrift;
    src: url(../src/Fonts/bahnschrift.ttf);
}

.container-fluid {
    padding: 0px;
}

*,
a {
    text-decoration: none;
}

html,
body {
    overflow-x: hidden;
}

[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled) {
    outline: none;
    border: none;
    background: transparent;
}

.home-third-section .row {
    margin: 0px;
}

.container-fluid.home-social-icons ul {
    padding-left: 11px;
}

.home-third-section {
    padding: 23px 0px 0px;
}

.home-third-section .images img {
    width: 100%;
}

.home-third-section .row {
    align-items: center;
}

.same-text h2 {
    font-family: Karantina-Bold;
    color: #333333;
    font-size: 31px;
    letter-spacing: 5px;
    margin-bottom: 29px;
}

.same-text p {
    color: #272727;
    font-size: 16px;
    font-family: bahnschrift;
    letter-spacing: 0px;
}

.same-text button {
    padding: 0px;
    margin-top: 10px;
}

.same-text button a {
    color: #272727;
    font-size: 18px;
    font-family: bahnschrift;
    letter-spacing: 2px;
}

.same-text button a img {
    margin-left: 23px;
}

button.btn.btn-primary {
    background: #272727;
}


/*global css end */

.order-change {
    display: flex;
    flex-wrap: wrap;
}

.order-change .home-third-section:nth-of-type(1) {
    order: 1;
}

ul {
    margin: 0;
}


/*banner css same */

.same-banner-heading {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.same-banner-heading h2 {
    padding: 114px 0px;
    text-align: center;
    position: relative;
    text-transform: uppercase;
    font-size: 60px;
    font-family: Karantina-Bold;
    letter-spacing: 6px;
    color: #fff;
    z-index: 99;
}

.same-banner-heading h2:after {
    content: "";
    background: rgba(000, 000, 000, 0.2);
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    z-index: -1;
}


/*end css code*/

.order-change .home-third-section:nth-of-type(2) {
    order: 3;
    padding: 51px 0px;
}

.order-change .home-third-section:nth-of-type(3) {
    order: 4;
}

.order-change .home-page-gallery-section {
    order: 2;
}


/*

.home-banner .hide-img img {
    animation: image-clip 1.5s linear;
    animation-iteration-count: 1;
    transition: 1s ease;
    clip-path: circle(0% at 100% 100%);
}
*/


/*
@keyframes image-clip {
    0% {
        clip-path: circle(120% at 100% 100%);
    }
    100% {
        clip-path: circle(0% at 100% 100%);
    }
}

.home-banner .show-img img {
    animation: image-clip 1.5s linear;
    animation-iteration-count: 1;
    animation-direction: reverse;
    clip-path: circle(120% at 100% 100%);
}

.home-third-section.effect-end .grid-lines span,
.digit .grid-lines span,
.effect-end .grid-lines span {
    animation: mymove2 1.5s ease;
    animation-iteration-count: 1;
    opacity: 1;
    position: relative;
    transition: 1s ease;
    clip-path: inset(0 100% 0 0);
}

.same-effect.visible .grid-lines span,
.digit.visible .grid-lines span {
    position: relative;
    animation: mymove 1.5s ease;
    transition: 1s ease;
    animation-iteration-count: 1;
    margin-bottom: -1px;
}
*/


/*
@keyframes mymove {
    /*0% {
        left: 0;
    }
    50% {
        left: 90%;
    }
    100% {
        left: 100%;
    }
    

0% {
    clip-path: inset(0 100% 0 0);
}

100% {
    clip-path: inset(0 0% 0 0);
}


}
@keyframes mymove2 {
    /*0% {
        left: 100%;
    }
    50% {
        left: 90%;
    }
    100% {
        left: 0%;
    }

0% {
    clip-path: inset(0 100% 0 0);
}

100% {
    clip-path: inset(0 0% 0 0);
}


}
*/


/*normal image css animation*/


/*home banner css code end*/


/*animation section css

.home-third-section .grid-lines,
.same-effect .grid-lines {
    z-index: 999;
    position: absolute;
    width: 100%;
    height: 100%;
    margin-top: -1px;
}

.home-third-section .grid-lines span,
.same-effect .grid-lines span {
    width: 100%;
    display: block;
    height: 26%;
    background: #fff;
}

.container-fluid.home-social-icons {
    margin-top: -44px;
}

.home-third-section .images {
    position: relative;
    overflow: hidden;
}

.same-effect .images {
    position: relative;
    overflow: hidden;
}
*/


/*animation css code end*/


/*Welcome To The Gregorio VII Luxury Suites css code

.container-fluid.home-social-icons ul {
    padding-left: 11px;
}

.home-third-section .text,
.same-text {
    padding-right: 100px;
}

.home-fourth-section .main-heading {
    font-family: Karantina-Bold;
    font-size: 40px;
    letter-spacing: 7px;
    color: #333333;
    text-align: center;
    margin: 49px 0px 45px;
}

.fifth-section .same-text {
    padding-left: 60px;
    padding-right: 0px;
}

.fifth-section .images img {
    height: 333px;
    object-fit: cover;
}

.fifth-section {
    padding: 65px 0px 0px;
}

.home-page-gallery-section li.slick-slide {
    padding: 12px 14px;
}

.home-page-gallery-section ul li img {
    transition: all 0.30s ease;
}

.home-page-gallery-section ul li img:hover {
    transform: scale(1.1);
}

.home-page-gallery-section ul.first {
    margin-bottom: -63px;
    z-index: 99;
}

.home-page-gallery-section ul:nth-of-type(3) {
    margin-top: -85px;
}

.home-page-gallery-section ul li img {
    box-shadow: 0px 0px 9px 1px #222526;
}

.home-page-gallery-section ul.first {
    padding-right: 20px;
}

.home-page-gallery-section ul.third {
    padding-left: 20px;
}
*/


/*css end*/


/*home gallery css code start

.home-page-gallery-section {
    background: #809ea9b8;
    padding: 8px 7px;
    margin-top: 78px;
}

.home-page-gallery-section ul {
    list-style: none;
    padding: 0px;
}

.slider-gallery-popups img {
    width: 44%;
}

.slider-gallery-popups {
    text-align: center;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    bottom: 0px;
    z-index: 999999;
    justify-content: center;
    display: flex;
    height: 100%;
    background: rgba(000, 000, 000, 0.4);
    align-items: center;
    display: none;
}

.home-page-gallery-section {
    position: relative;
}

.home-page-gallery-section .cross-code {
    color: #000;
    font-size: 15px;
    z-index: 9999999999;
    position: absolute;
    top: 78px;
    right: 200px;
    background: #fff;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 35px;
    cursor: pointer;
    font-weight: 700;
    line-height: 30px;
    border-radius: 50%;
}

.slider-gallery-popups.show {
    display: flex;
}
*/


/*recent post css code*/

.recent-posts .text h2 {
    font-family: bahnschrift;
    font-size: 19px;
    line-height: 25px;
    font-weight: 500;
    margin-bottom: 9px;
}

.recent-posts .text span.time-post {
    font-family: bahnschrift;
    display: block;
    margin-bottom: 6px;
}

.recent-posts ul {
    list-style: none;
    padding: 0px;
}

.recent-posts ul li {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin-bottom: 11px;
}

.recent-posts ul li .image {
    width: 30%;
}

.recent-posts ul li .text {
    width: 70%;
    padding-left: 16px;
}

.recent-posts ul li .image img {
    height: 107px;
    object-fit: cover;
}

.recent-posts ul {
    margin-top: 20px;
}

.recent-posts .text h2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    margin-bottom: 3px;
}

.recent-posts .text p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.recent-posts .box ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    margin-top: 0px;
}


/*recent post css code end*/


/*css code end*/


/*responsive start*/

@media only screen and ( max-width:1201px) {
    .container-fluid.home-banner .row {
        width: 100%;
    }
    .container {
        max-width: 100%;
        width: 100%;
    }
}

@media only screen and ( max-width:901px) {
    footer .part-one .col-xs-12 {
        width: 25%;
        flex: inherit;
    }
    footer .part-one .footer-logo {
        display: none;
    }
    footer .part-one .col.quick-links {
        padding-left: 10px;
    }
    footer .part-one .contact-us {
        word-break: break-all;
    }
    button.toogle-parts span {
        width: 22px;
        height: 2px;
        background: #000;
        display: table;
        margin-bottom: 4px;
    }
    nav.navbar.navbar-header .navigation-part {
        position: absolute;
        width: 200px;
        background: #000;
    }
    nav.navbar.navbar-header .navigation-part {
        padding: 19px 0px;
        width: 251px;
        top: 112px;
        margin-top: 0px;
        transform: translateX(-115%);
    }
    nav.navbar.navbar-header .row {
        display: flex;
    }
    button.toogle-parts {
        width: auto;
        position: absolute;
    }
    nav.navbar.navbar-header .container .row {
        justify-content: space-between;
    }
    .col-sm-1.logo-part {
        width: 21%;
        padding-left: 56px;
    }
    .col-sm-3.sarech-parts {
        width: 79%;
        display: flex;
        justify-content: flex-end;
    }
    .navbar-nav {
        display: inherit;
    }
    .navbar-nav>li>a {
        width: 100%;
        padding: 4px 15px;
        display: block;
        color: #fff;
    }
    body.toggle-open .navigation-part {
        transform: translateX(100%);
        transition: all 0.30s ease;
    }
    nav.navbar.navbar-header .navigation-part {
        transition: all 0.30s ease;
    }
    .toggle-open nav.navbar.navbar-header .navigation-part {
        transform: translateX(0%);
    }
    .home-banner .text h2 {
        font-size: 71px;
    }
    .container-fluid.home-banner .text {
        padding-left: 0px;
    }
    .container-fluid.home-social-icons ul {
        padding-left: 0px;
    }
    .home-third-section .text,
    .same-text {
        padding-right: 17px;
    }
    button.toogle-parts {
        display: block;
    }
}

@media only screen and ( max-width:701px) {
    .fifth-section .same-text {
        padding-left: 24px;
        padding-right: 0px;
    }
}

@media only screen and ( max-width:481px) {
    .home-banner .images img {
        height: auto;
        object-fit: revert;
        margin-bottom: -90px;
    }
    .home-banner .text h2 {
        font-size: 47px;
        text-align: center;
    }
    .home-banner .text p {
        text-align: center;
    }
    .container-fluid.home-banner .text button {
        display: table;
        margin: 0 auto;
        margin-bottom: 14px;
    }
    .container-fluid.home-banner .row {
        margin-left: 0px;
        margin: 0px;
    }
    .home-third-section .images img {
        margin-top: 30px;
    }
    .container-fluid.home-fourth-section .col-sm-6.col-md-6.col-lg-6.images {
        margin-top: 32px;
    }
    .container-fluid.home-fourth-section.fifth-section .text.same-text {
        margin-top: 25px;
        padding-left: 10px;
    }
    .container-fluid.home-fourth-section.fifth-section .text.same-text {
        margin-top: 25px;
        padding-left: 10px;
    }
    footer .col.col-xs-12 {
        width: 100%;
        padding-left: 0px;
    }
    footer .part-one .col.quick-links {
        padding-left: 0px;
        margin-bottom: 31px;
    }
    footer .col.col-xs-12.touch-with-us {
        margin-bottom: 32px;
    }
    footer .part-one .contact-us {
        margin-top: 20px;
    }
    footer {
        padding-top: 36px;
    }
    .same-text h2,
    .same-text p {
        text-align: center;
    }
    .same-text button {
        display: table;
        margin-left: auto;
        margin-right: auto;
    }
    .container-fluid.home-banner .text {
        padding-right: 0px;
    }
    .home-fourth-section .main-heading {
        font-size: 32px;
        margin: 22px 0px 35px;
    }
    .home-banner .images img {
        height: auto;
        object-fit: revert;
        margin-bottom: 6px;
    }
    .container-fluid.home-fourth-section .images {
        padding: 0px;
    }
    .container-fluid.home-social-icons {
        display: none;
    }
    .same-text h2 {
        font-size: 27px;
    }
    .home-banner .text h2 {
        font-size: 42px;
        margin-top: 20px;
    }
    .col-sm-1.logo-part {
        width: 40%;
    }
    .col-sm-3.sarech-parts {
        width: 60%;
    }
    .navbar-header .sarech-parts ul li {
        padding-left: 8px;
        font-family: bahnschrift;
        font-size: 11px;
    }
    nav.navbar.navbar-header .container {
        padding: 0px;
    }
    nav.navbar.navbar-header .container .row {
        margin: 0px;
        align-items: center;
    }
    .navbar-header .sarech-parts ul {
        margin-bottom: 0px;
    }
    .same-text button a img {
        margin-left: 9px;
        width: 80px;
    }
    .same-text button a,
    .container-fluid.home-banner .text button a {
        font-size: 16px;
    }
    .container-fluid.home-banner .text button a img {
        width: 80px;
        margin-left: 4px;
    }
    .home-third-section .text {
        padding: 0px;
    }
    .text {
        padding: 0px;
    }
    .container-fluid.home-fourth-section.fifth-section .text.same-text {
        padding-right: 10px;
    }
    footer .part-one .footer-logo {
        display: block;
        margin-bottom: 35px;
    }
}


/*end rrsponsive code*/


/*owl carousel  css code*/

.owl-carousel .owl-wrapper:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0
}

.owl-carousel {
    display: none;
    position: relative;
    width: 100%;
    -ms-touch-action: pan-y
}

.owl-carousel .owl-wrapper {
    display: none;
    position: relative;
    -webkit-transform: translate3d(0, 0, 0)
}

.owl-carousel .owl-wrapper-outer {
    overflow: hidden;
    position: relative;
    width: 100%
}

.owl-carousel .owl-wrapper-outer.autoHeight {
    -webkit-transition: height 500ms ease-in-out;
    -moz-transition: height 500ms ease-in-out;
    -ms-transition: height 500ms ease-in-out;
    -o-transition: height 500ms ease-in-out;
    transition: height 500ms ease-in-out
}

.owl-carousel .owl-item {
    align-items: center;
}

.owl-carousel .owl-item {
    float: left;
    display: flex;
}

.owl-prev,
.owl-next {
    display: none;
}

.owl-carousel .owl-item.active {
    visibility: visible;
    opacity: 1;
}

.owl-carousel .owl-item {
    visibility: hidden;
    opacity: 0;
}

.owl-controls .owl-page,
.owl-controls .owl-buttons div {
    cursor: pointer
}

.owl-controls {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0)
}

.owl-carousel {
    display: block;
}

.owl-dots {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 24px;
}

.owl-dots .owl-dot span {
    display: inline-block;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #cccc;
    margin-right: 6px;
}

.container-fluid.card-romantic-same-style {
    padding: 65px 0px 0px;
}

.container-fluid.card-romantic-same-style h2 {
    margin-top: 29px;
    font-family: Karantina-Bold;
    color: #333333;
    font-size: 35px;
    letter-spacing: 1px;
}

.recent-posts ul li .dcdcd {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin-bottom: 11px;
}

.owl-dots .owl-dot.active span {
    background: #000;
}

.container-fluid.card-romantic-same-style .gallery-parts ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 17px 0px 0px;
    padding: 0px;
}

.container-fluid.card-romantic-same-style .gallery-parts ul li {
    width: 15%;
    margin-right: 14px;
    margin-bottom: 15px;
}

input[type="date"] {
    text-transform: uppercase;
}

.container-fluid.card-romantic-same-style .gallery-parts ul li img {
    height: 155px;
    object-fit: cover;
    box-shadow: 0px 0px 1px 2px #F6F6F5;
    border-radius: 2px;
}