<div class="container-fluid home-social-icons">
    <div class="container">
        <ul *ngFor="let sociallinks of socialslinkss">
            <li><a href={{sociallinks.Facebook}}><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="{{sociallinks.Instagram}}"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            <li><a href="{{sociallinks.Twitter}}"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href="{{sociallinks.Yelp}}"><i class="fa fa-tripadvisor" aria-hidden="true"></i></a></li>
        </ul>
    </div>
</div>