.container-fluid.home-social-icons ul {
    list-style: none;
    color: #fff;
}

.container-fluid.home-social-icons ul li a {
    background: #272727;
    color: #fff;
    width: 28px;
    display: inline-block;
    text-align: center;
    height: 28px;
    font-size: 18px;
    line-height: 29px;
    border-radius: 4px;
    margin-bottom: 12px;
}