<div class="container-fluid banners same-banner-heading" style="background-image: url('http://localhost:1337/uploads/3d_rendering_luxury_modern_bedroom_suite_tv_with_wardrobe_walk_closet_1_6eb77aecdd.jpg');">
    <h2>Booking</h2>
</div>


<div class="container-fluid booking-forms">
    <form #userPost="ngForm" method="POST" class="contact-forms col-sm-6">
        <h2>Reservation Form</h2>
        <div class="row">
            <div class="col-md-6">
                <div class="md-form mb-0">
                    <label for="name" class="">Guest Name</label>
                    <input type="text" ngModel name="fname" class="form-control" #name="ngModel" required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="md-form mb-0">
                    <label for="name" class="">Address</label>
                    <input type="text" ngModel name="fname" class="form-control" #name="ngModel" required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="md-form mb-0">
                    <label for="name" class="">Contact Number</label>
                    <input type="number" ngModel name="fname" class="form-control" #name="ngModel" required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="md-form mb-0">
                    <label for="email" class="">Email</label>
                    <input type="email" ngModel name="email" class="form-control" required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="md-form mb-0">
                    <label for="email" class="">Room Type</label>
                    <select>
                        <option value="0">Select...</option>
                        <option value="1">Honeymoon Suite</option>
                        <option value="2">Superior Suite</option>
                    </select>
                </div>
            </div>

            <div class="col-md-6">
                <div class="md-form mb-0">
                    <label for="email" class="">Arrival </label>
                    <input type="date" ngModel class="form-control" required>
                </div>
            </div>
            <div class="col-md-12">
                <div class="md-form mb-0">
                    <label for="email" class="">Departure </label>
                    <input type="date" ngModel class="form-control" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="md-form mb-0">
                    <label class="">Rooms</label>
                    <select>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="md-form mb-0">
                    <label class="">Adult</label>
                    <select>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="md-form mb-0">
                    <label class="">Adult</label>
                    <select>
                        <option>0</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="text-center text-md-left">
            <!--<button type="submit" (click)="contactSubmit(userPost.value)">Submit</button>-->
            <button type="submit">BOOK RESERVATION</button>
        </div>
    </form>
</div>